footer {
  display: none !important;
}

#search-toggle {
  display: none !important;
}

.btn {
  text-transform: none !important;
}

h2.category {
  color: #959595 !important;
  border-bottom: 1px solid #959595 !important;
}

body,
body *:not(code):not(pre):not(kbd):not(samp) {
  font-family: "Ubuntu Mono", monospace !important;
}
