footer {
  display: none !important;
}

#search-toggle {
  display: none !important;
}

.btn {
  text-transform: none !important;
}

h2.category {
  color: #959595 !important;
  border-bottom: 1px solid #959595 !important;
  text-align: left !important;
}

.social {
  position: relative; // ensure positioning context
}

.social .contact-icons {
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 2rem; // spacing from content above
  position: absolute;
  bottom: 2rem; // distance from bottom of the page container
  left: 50%;
  transform: translateX(-50%);
}

// body,
// body *:not(code):not(pre):not(kbd):not(samp) {
//  font-family: "Ubuntu Mono", monospace !important;
// }
